@use "../../../styles/tokens.scss" as tokens;

.textDestructive{
  color: tokens.$destructive;
  font-family: tokens.$font-family;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
}
