@use "../../styles/tokens.scss" as tokens;

.base {
  display: inline-flex;
  font-family: tokens.$font-family;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  transition-property: color, background-color, border-color, fill, stroke,
    -webkit-text-decoration-color;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}


.base:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
    calc(2px + var(2)) rgb(147 197 253 / 0.5);
  box-shadow: 0 0 0 0 #fff, 0 0 0 calc(2px + var(2)) rgb(147 197 253 / 0.5), 0 0 #0000, 0 0 #0000;
}


.default {
  border-color: transparent;
  background-color: hsla(tokens.$primary-foreground/ 1);
}

.default:hover {
  background-color: hsl(tokens.$primary-foreground/ 0.8);
}

.secondary {
  background-color: hsl(tokens.$secondary);
  border-color: transparent;
}

.secondary:hover {
  background-color: hsl(tokens.$secondary / 0.8);
}

.destructive {
  color: hsl(tokens.$destructive);
  background-color: hsl(tokens.$destructive-foreground);
  border-color: transparent;
}

.destructive:hover {
  background-color: hsla(tokens.$destructive-foreground/ 0.8);
}
