:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);

  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);

  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);

  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);

  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(240 5.9% 90%);

  --input: hsl(240 5.9% 90%);

  --ring: hsl(240 5% 64.9%);

  --radius: 0.5rem;

  /* Tamanhos de Fonte */
  --font-size-base: 16px;
  --font-size-heading-1: 2.5rem;
  --font-size-heading-2: 2rem;
  --font-size-heading-3: 1.75rem;
  --font-size-heading-4: 1.5rem;
  --font-size-heading-5: 1.25rem;
  --font-size-heading-6: 1rem;

  /* Outras Constantes de Estilo */
  --spacing-unit: 1rem;
  --line-height: 1.5;
  --radius: 0.5rem;

  /* Tipografia */
  --font-family: 'Arial', sans-serif;
  --font-family-heading: 'Helvetica Neue', sans-serif;

  /* Alturas de Linha */
  --line-height-base: 1.5;
  --line-height-heading: 1.2; /* Exemplo de altura de linha diferente para títulos */

  $font-weight-lighter: lighter;
  $font-weight-light: 300;
  $font-weight-normal: 400;
  $font-weight-medium: 500;
  $font-weight-semibold: 600;
  $font-weight-bold: 700;
  $font-weight-bolder: bolder;
}
