
button {
  all: unset;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  background-color: hsl(var(--background));
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  box-shadow: 0 0 0 1px hsl(var(--muted-foreground));
  border-color: hsl(var(--muted-foreground));
  border-radius: 0.125rem;
  border-radius: 0.125rem;
  border-width: 1px;
  border-color: hsla(var(--primary), 1);
}

.checkbox:hover {
   box-shadow: 0 0 0 1px hsl(var(--text-primary));
}

.checkbox:focus {
   box-shadow: 0 0 0 2px hsl(var(--text-primary));
}

.checkbox[data-state="checked"]{
  box-shadow: 0 0 0 1px hsla(var(--text-primary));
}

.indicator {
  color: hsl(var(--text-primary));
  pointer-events: none;
  min-width: 2px;
  min-height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

